@charset "UTF-8";
@import "yugothic";
@import "reset";

$font-color: #fff;
$font-size: 14px;
$background-color: #111;
$background-color-2: #1a1a1a;
$theme-color: #f7044e;
$theme-shade: #f00877;

body{
    letter-spacing: 0.1em;
    font-family: "Helvetica Neue", "Arial", 
"Yu Gothic", "YuGothic", sans-serif;
    color: $font-color;
    background-color: $background-color;
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
}
a, a:hover{
    font: inherit;
    color: inherit;
    text-decoration: inherit;
}
p > a{
    color: $theme-color;
}
p > a:hover{
    color: $theme-shade;
}

@mixin h($font-size){
    font-size: $font-size;
    margin: 1em 0;
    font-weight: bold;
}
@mixin gradient($direction: bottom){
    background-color: $theme-color;
    background: linear-gradient(to $direction, $theme-color 0%, $theme-shade 100%);
}
h1{
    @include h(36px);
}
h2{
    @include h(30px);
}
h3{
    @include h(22px);
}
h4{
    @include h(18px);
}
h5, h6{
    @include h(14px);
}
img{
    display: block;
    max-width: 100%;
}
p{
    margin: 1em 0;
}
div > a{
    display: block;
}
li{
    list-style-type: square;
    list-style-position: inside;
}
table{
    margin: 2em 0;
    width: 100%;
}
tr:nth-of-type(2n){
    background-color:$background-color;
}
td, th{
    padding: 0.5em;
}
div#main{
    position: relative;
    overflow: hidden;
}
div.notice{
    background-color: #69d460;
    color: #fff;
    overflow: hidden;
    & > div{
        margin: 30px;
    }
    a{
        color: inherit;
    }
    a:hover{
        color: inherit;
    }
}
// トップページはヘッダーのタイトルを表示しない
.topPage header#globalHeader h1{
	display: none;
}
.topPage div#main{
    margin-top: 60px;
}

div.cover{
    background-image: url('../img/bg.jpg');
    background-size:cover;
    overflow: hidden;
    color: ＃fff;
    position: relative;
    & > *{
        margin: 60px 30px;
    }
    overflow: hidden;
    h1{
        margin: 0;
    }
    h5 span{
        font-size: 24px;
    }
    &:after{
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        content:"";
        border-right: solid 100vw $background-color;
        border-top: solid 10vw transparent;
    }
}


div.search{
    margin: 30px 0;
    @include gradient();
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    & > div{
        margin: 2px 2px 2px 44px;
        position: relative;
    }
    &:before{
        content: "";
        background-image: url("../img/search.png");
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: center;
        position: absolute;
        width: 24px;
        height: 24px;
        padding: 8px;
        left:0;
        top:0;
    }
    input{
        font-size: 1rem;
        line-height: 1.5;
        padding: 0.5em 1em;
        border:none;
        border-radius: 3px;
        display: block;
        width: 100%;
        box-sizing: border-box;
        background-color: $background-color;
        color: #fff;
    }
}
header#globalHeader{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 2;
    background-color: #fff;
    color: #333;
    overflow: hidden;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    & > div{
        margin: 10px;
        position: relative;
    }
    img.logo{
        height: 40px;
        width: 40px;
        border-radius: 20px;
        margin: 10px auto;
        display: block;
		z-index: 2;
    }
    h1{
        font-size: 20px;
        line-height: 40px;
        margin: 10px 0;
        text-align: center;
    }
    img.nav{
        position: absolute;
        top:0;
        left:0;
		cursor: pointer;
    }
    div.nav{
        display: none;
    }
    div.nav.on{
        display: block;
    }
    li{
        list-style-type: none;
        text-align: center;
        margin: 1em 0;
    }
    a, a:hover{
        color:inherit;
        text-decoration: inherit
    }
    
}
div#main{
	margin-top: 110px;
	& > div{
		overflow: hidden;
	}
}
div.content{
    background-color: $background-color-2;
    overflow: hidden;
    position: relative;
    & > div{
        margin: 60px 30px;
    }
}
footer#globalFooter{
    position: relative;
    overflow: hidden;
    & > div{
        margin: 60px 30px;
    }
}
div.topNav{
    overflow: hidden;
    & > div{
        margin: 60px 30px;
    }
}

//色付きのナビゲーションメニュー
div.colorButtons{
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}
.colorButton{
    display: block;
    flex-basis: 50%;
    flex-shrink: 0;
    color: #fff;
    overflow: hidden;
    & > div{
        @include gradient();
        border-radius: 5px;
        margin: 10px;
        height: 100px;
        position: relative;
        text-overflow: ellipsis;
    }
    & > p{
        margin: 10px;
    }
    & > div:before{
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        display: block;
        content: "";
        background-color:$background-color;
        margin: 2px;
        z-index: 0;
        border-radius: 3px;
    }
    h4{
        position: absolute;
        bottom: 0;
        margin: 10px;
    }
}

div.subHeader{
    overflow: hidden;
    position: relative;
    & > div{
        display: flex;
        align-items: stretch;
        text-align: center;
        overflow-x: scroll;
    }
    div.item{
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 0;
        position: relative;
        padding: 10px;
        @include gradient(left);

        &:before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left:0;
            background-color: $background-color;
            z-index: 0;
        }
        &.selected:before{
            margin-bottom: 2px;
        }
    }
    h4{
        margin: 0;
        position: relative;
    }
}
div.schedule{
    overflow: hidden;
    background-color: $background-color-2;
    h3{
        margin: 30px;
    }
    div.row{
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        h3{
            margin: 0;
            font-size: 18px;
        }
        p{
            margin:0;
        }
        h4{
            margin: 0;
            font-size: 14px;
        }
        div.time{
            flex-basis: 30%;
            font-family: Futura, "Trebuchet MS", Arial, sans-serif;
            font-size: 18px;
            padding: 10px 15px 10px 30px;
        }
        div.info{
            flex-basis: 70%;
            padding: 10px 30px 10px 15px;
        }
        &:hover{
            background-color: $background-color;
        }
    }
}
div.boothWindowWrap{
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index: 10;
    display: none;
    font-size: 0;
    line-height: 100vh;
    &.show{
        display: block;
    }
    div.background{
        background-color:rgba(0,0,0,0.8);
        position: absolute;
        top:0;
        right:0;
        left:0;
        bottom:0;
    }
}
div.boothWindow{
    z-index: 10;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 30px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    color: #333;
    div.title{
        @include gradient();
        color: #fff;
        overflow: hidden;
        padding: 30px;
        h1{
            margin: 0;
        }
        p{
            margin: 0;
        }
        span{
            margin-right: 0.5em;
        }
    }
    div.content{
        margin: 30px;
        background-color: inherit;
        p{
            margin: 0;
        }
        h4{
            margin: 0;
        }
        a{
            display: block;
            text-align:center;
        }
        span{
            border-radius: 3px;
            padding: 0.25em 0.5em;
            @include gradient();
            color: #fff;
            margin-right: 0.5em;
            display: inline-block;
        }
        section{
            margin: 1em 0;
        }
    }

}