<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ステージ情報 - 第44回筑波大学宿舎祭 やどかり祭</title>
    <link rel="stylesheet" href="css/global.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-96801375-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-96801375-1');
</script>

</head>

<body>
    <div id="app">
            <header id="globalHeader">
                    <div>
                        <img class="logo" src="img/yadokari.jpg" alt="やどかり">
                        <h1>筑波大学宿舎祭やどかり祭</h1>
                        <img class="nav" src="img/menu.png" alt="メニュー">
                        <div class="nav">
                            <ul>
                                <li>
                                    <a href="./">トップ</a>
                                </li>
                                <li>
                                    <a href="./booths.html">ブース</a>
                                </li>
                                <li>
                                    <a href="./events.html">企画</a>
                                </li>
                                <li>
                                    <a href="./access.html">会場アクセス・地図</a>
                                </li>
                                <li>
                                    <a href="./schedule.html">ステージ情報</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
        <div id="main">
            <div>
                <div class="subHeader">
                    <div>
                        <div class="item" v-for="location in stage.day1" v-key="location.title" v-on:click="setLocation(location.title)" v-bind:class="isColor(location.title)">
                            <h4>{{ location.title }}</h4>
                        </div>
                    </div>
                </div>
                <div class="schedule">
                    <h3>前夜祭</h3>
                    <div class="row" v-for="event in scheduleForLocation1.events" v-key="event.title" v>
                        <div class="time">
                            <p>{{ event.time }}</p>
                        </div>
                        <div class="info">
                            <h4>{{ event.group }}</h4>
                            <h3>{{ event.title }}</h3>
                        </div>
                    </div>
                    <h3>本祭</h3>
                    <div class="row" v-for="event in scheduleForLocation2.events" v-key="event.title" >
                            <div class="time">
                                <p>{{ event.time }}</p>
                            </div>
                            <div class="info">
                                <h4>{{ event.group }}</h4>
                                <h3>{{ event.title }}</h3>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <footer id="globalFooter">
            <div>
                <p>
                    <a href="http://www.stb.tsukuba.ac.jp/~yadokari/mogiten/index.html">模擬店出店団体の方へ</a>
                </p>
                <p>
                    <a href="shinkan.html">新歓情報はこちら&raquo;</a>
                </p>
                <p>&copy; 第44回筑波大学宿舎祭実行委員会</p>
            </div>
        </footer>
    </div>
    <script src="bundle.js"></script>
</body>

</html>